<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:asset.css identifier="benotesstyles" href="EXT:benotes/Resources/Public/css/tx_benotes.css" />
	<div class="module {moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
		
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row">
				<div class="module-docheader-bar-column-left col-3">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu additionalAttributes="{class: 'form-select form-select-sm t3-js-jumpMenuBox'}">
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_note.choseview')}" action="" controller="" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_note.publicnotes')}" action="list" controller="Note" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_note.privatenotes')}" action="listPrivate" controller="Note" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_note.createnote')}" action="new" controller="Note" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_category.create')}" action="new" controller="Category" />
						<f:be.menus.actionMenuItem label="{f:translate(key: 'tx_benotes_domain_model_category.manage')}" action="list" controller="Category" />
					</f:be.menus.actionMenu>
				</div>
				<div class="module-docheader-bar-column-right col-9">
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">

				</div>
				<div class="module-docheader-bar-column-right">
				</div>
			</div>

		</div> 
		
		<div class="module-body t3js-module-body">
			<f:render section="Content" />
		</div>
	</div>

</html>
