
<table class="tx-benotes" >
	<tr>
		<td>
			<f:translate key="tx_benotes_domain_model_category.title" />
		</td>
		<td>
			{category.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_benotes_domain_model_category.description" />
		</td>
		<td>
			{category.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_benotes_domain_model_category.public" />
		</td>
		<td>
			{category.public}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_benotes_domain_model_category.cruser" />
		</td>
		<td>
			{category.cruser}
		</td>
	</tr>
</table>