

.typo3-fullDoc {
  margin: 20px;
}
.typo3-fullDoc .alert {
	margin-left: 250px;
}

table.tx_benotes {
    border: 1px solid #bbb;
    margin: 5px;
    width: 90%;
}

.header_date {
    width: 130px;
}

.header_author {
    width: 130px;
}

.header_title {
	width: 250px;
	font-weight: bold;
}
.header_content {
    width: 200px;
}

.header_cat {
    width: 130px;
 }
.header_edit {
    width: 60px;
 }
.header_delete {
	width: 30px;
 }
.header_content {
	width:500px;
}
.list_body {
	padding-left:10px;
 }

tr.list_cat_odd {
	background-color:#eee;
}
tr.list_cat_even {
	background-color:#fff;
}
tr.list_public_notes {
	background-color:#00eeee;
	}
tr.list_private_notes {
	background-color:#ccff99;
	}
.pagination {margin: 10px; }

.ck.ck-content.ck-editor__editable {  height: 15em;}

.marker {
	background-color:yellow;
	padding:3px;
}
