{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Content">
<h1><f:translate key="tx_benotes_domain_model_category.list"/></h1>

<f:flashMessages />

<table class="table" >
	<thead>
		<tr class="t3-row-header">
			<th><f:translate key="tx_benotes_domain_model_category.title" /></th>
			<th><f:translate key="tx_benotes_domain_model_category.description" /></th>
			<th><f:translate key="tx_benotes_domain_model_category.public" />/<f:translate key="tx_benotes_domain_model_category.private" />?</th>
			<th><f:translate key="tx_benotes_domain_model_category.cruser" /></th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
	<f:for each="{categories}" as="category" iteration="iterator">
		<tr {f:if(condition: iterator.isEven, then: ' class="list_cat_even"')}{f:if(condition: iterator.isOdd, then: ' class="list_cat_odd"')}>
			<td><f:link.action action="show" arguments="{category : category}"> {category.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{category : category}"> {category.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{category : category}"> 
			<f:if condition="{category.public}==1">
				<f:then>
					<f:translate key="tx_benotes_domain_model_category.public" />
				</f:then>
				<f:else>
					<f:translate key="tx_benotes_domain_model_category.private" />
				</f:else>
			</f:if>
			</f:link.action></td>
			<td><f:link.action action="show" arguments="{category : category}"> {category.cruser.username}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{category : category}" title="{f:translate(key: 'tx_benotes_domain_model_category.edit')}"><core:icon identifier="actions-document-open"/></f:link.action></td>
			<td><f:link.action action="delete" arguments="{category : category}" title="{f:translate(key: 'tx_benotes_domain_model_category.delete')}"><core:icon identifier="actions-delete"/></f:link.action></td>
			
		</tr>
	</f:for>
	</tbody>
</table>


<f:link.action action="new" class="btn btn-default" title="{f:translate(key: 'tx_benotes_domain_model_category.create')}"><core:icon identifier="actions-add" size="small" alternativeMarkupIdentifier="inline" /><f:translate key="tx_benotes_domain_model_category.create"/></f:link.action>
</f:section>
