{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Content">
<h1>Single View for Category</h1>

<f:flashMessages />
<f:render partial="Category/Properties" arguments="{category:category}" />
<f:link.action action="list" class="btn btn-default"><core:icon identifier="actions-document" size="small" alternativeMarkupIdentifier="inline" />Back to list</f:link.action><br /><br />
<f:link.action action="create" additionalAttributes = "{class: 'btn btn-default'}" ><core:icon identifier="actions-add" size="small" alternativeMarkupIdentifier="inline" />New Category</f:link.action>
</f:section>