
<label for="title">
	<f:translate key="tx_benotes_domain_model_note.title" /> <span class="required"><f:translate key="tx_benotes_domain_model_note.required" /></span>
</label><br />
	<f:form.textfield class="form-control" property="title" /><br />
<label for="bodytext">
	<f:translate key="tx_benotes_domain_model_note.bodytext" /> <span class="required"><f:translate key="tx_benotes_domain_model_note.required" /></span>
</label><br />
	
	<f:render partial="Note/Ckeditor"/>
	
	<f:translate key="tx_benotes_domain_model_note.public" />
</label><br />
	<f:form.checkbox property="public" value="1" /><br />
<label for="category">
	<f:translate key="tx_benotes_domain_model_note.category" />
</label><br />
	<f:form.select class="btn btn-default dropdown-toggle" property="category" options="{category}" optionLabelField="title" prependOptionLabel="bitte wählen" size="1" /><br />
	

<br />
	<f:form.hidden property="cruser" value="{cruser}"/>
	<br />
	<br />

		
	
	
