{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Content">

<f:if condition="{note.public}==1">
  <f:then>
    <h1><f:translate key="tx_benotes_domain_model_note.publicnote" /></h1>
  </f:then>
  <f:else>
    <h1><f:translate key="tx_benotes_domain_model_note.privatenote"/></h1>
    </f:else>
</f:if>

<f:flashMessages />
<f:render partial="Note/Properties" arguments="{_all}" />
<f:link.action action="list" class="btn btn-default"><core:icon identifier="actions-document" size="small" alternativeMarkupIdentifier="inline" /><f:translate key="tx_benotes_domain_model_note.backtolist"/></f:link.action>
<f:link.action action="new" additionalAttributes = "{class: 'btn btn-default'}" title = "{f:translate(key: 'tx_benotes_domain_model_note.newnote')}"><core:icon identifier="actions-add" size="small" alternativeMarkupIdentifier="inline" /><f:translate key="tx_benotes_domain_model_note.newnote"/></f:link.action>
</f:section>
